{% extends 'public/base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three/examples/js/loaders/OBJLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three/examples/js/loaders/MTLLoader.js"></script>
    <script src="{{ asset('js/public/animation.js') }}"></script>
{% endblock %}


{% block body %}
    <h1>{{ 'an.error.has.occurred'|trans }}</h1>
    <canvas id="errorCanvas" style="width: 100%; height: 400px;"></canvas>
{% endblock %}
