{% extends 'public/base.html.twig' %}

{% block title %}{{ 'public.error.title'|trans }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <h1>{{ 'an.error.has.occurred'|trans }}</h1>
{% endblock %}
