.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0 auto;
    padding: 1%;
    border-radius: 15px;
    width: 90%;
    max-width: 800px; /* Limite la largeur maximale pour les grands écrans */

    background-color: var(--header-bg-color);
    color: var(--header-text-color);

    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;


}

.weather-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0 auto;
    width: 100%;
    max-width: 600px; /* Limite la largeur maximale pour les grands écrans */
}

.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante si nécessaire */
}

.date-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: 1%;
    border-radius: 15px;
}

.button {
    margin: 0 2%;
}

.info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante si nécessaire */
}

.bottom-section {
    padding: 15px;
    width: 100%;
    display: flex;
}


#right-button {
    margin-left: auto; /* Utilise margin-left pour aligner à droite */
    float: right; /* Utilise float: right pour aligner à droite */
}

#icon-element img {
    width: 100px;
    height: 100px;
    max-width: 150px; /* Limite la taille maximale de l'image */
    margin-right: 15px;
}

canvas {
    margin: 0 auto;
    display: block; /* Utilise display: block pour centrer correctement */
    border-radius: 15px;
    width: 100%;
    max-width: 600px; /* Limite la largeur maximale pour les grands écrans */
}
.theme-box{
    display: flex;
    gap: 5px;
}

.theme-container{
    display : flex;
    float : left;
    
    background-color: var(--header-bg-color);
    color: var(--header-text-color);

    border-radius: 10px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    flex-direction: column;

}




.graphe{
    height: 100%;
    text-align: center;
}